<h1>Confirm account</h1>

<.form
  let={_f}
  for={:influencer}
  action={Routes.influencer_confirmation_path(@conn, :update, @token)}
>
  <div>
    <%= submit("Confirm my account") %>
  </div>
</.form>

<p>
  <%= link("Register", to: Routes.influencer_registration_path(@conn, :new)) %> | <%= link(
    "Log in",
    to: Routes.influencer_session_path(@conn, :new)
  ) %>
</p>
