<ul>
<%= if @current_influencer do %>
  <li><%= @current_influencer.email %></li>
  <li><%= link "Settings", to: Routes.influencer_settings_path(@conn, :edit) %></li>
  <li><%= link "Log out", to: Routes.influencer_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= link "Register", to: Routes.influencer_registration_path(@conn, :new) %></li>
  <li><%= link "Log in", to: Routes.influencer_session_path(@conn, :new) %></li>
<% end %>
</ul>
